* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, 
h2 {
    font-family: 'Kalam', cursive;
}

/* Home (index.html)*/
/*Grid Contenedor*/
.gridContainer {  
    display: grid;
    grid-template-columns: 0.3fr 2.7fr 0.3fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "headerContainer headerContainer headerContainer"
    ". mainContainer ."
    ". botonSeccion ."
    "footerContainer footerContainer footerContainer";
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Header */

.headerContainer { 
    grid-area: headerContainer;
    background-color: rgb(254, 251, 231);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.estiloLista {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    background-color: rgb(218, 229, 208);
    padding: 10px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

nav ul li a:hover {
    background-color: rgb(160, 188, 194);
    transform: scale(1.2);
}

.imgFixe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 350px;
}

.logo {
    width: 100%;
    height: 100px;
    margin-left: 70px;
    margin-bottom: -3px;
}

#botonMenu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 50px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

/* Main */

.mainContainer {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.8fr 0.2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgPresentacion imgPresentacion imgPresentacion"
    ". titulo ."
    "card1 card2 card3";
    grid-area: mainContainer;
    background-color: rgb(218, 229, 208);
}

.imgPresentacion { 
    grid-area: imgPresentacion; 
    position: relative;
    overflow: hidden;
}

.fotoPresentacion {
    height: 400px;
    width: 100%;
}

.tituloEnImagen {
    position: absolute;
    top: 38%;
    left: 50%;
    background-color: rgb(160, 188, 194);
    border-radius: 40px;
    transform: translate(-50%, -50%);
}

.titulo2EnImagen {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(160, 188, 194);
    border-radius: 40px;
}

.titulo { 
    grid-area: titulo; 
    text-align: center;
}

.card1 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "pic pic pic"
    "pic pic pic"
    "parrafo parrafo parrafo";
    grid-area: card1;
}

.pic { grid-area: pic; }

.parrafo { grid-area: parrafo; }

.card2 {  display: grid;
    grid-template-columns: 0.9fr 1.1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "pic2 pic2 pic2"
    "pic2 pic2 pic2"
    "parrafo2 parrafo2 parrafo2";
    grid-area: card2;
}

.pic2 { 
    grid-area: pic2; 
}


.parrafo2 { 
    grid-area: parrafo2; 
}

.card3 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "pic3 pic3 pic3"
    "pic3 pic3 pic3"
    "parrafo3 parrafo3 parrafo3";
    grid-area: card3;
}

.pic3 { 
    grid-area: pic3; 
}


.parrafo3 { 
    grid-area: parrafo3; 
}

/* Seccion Boton */

.botonSeccion {
    grid-area: botonSeccion;
    background-color: rgb(218, 229, 208);
}

.boton {
    background-color: rgb(55, 109, 227);
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

.flex-boton {
    display: flex;
    justify-content: center;
}

/* Footer */

.footerContainer { 
    grid-area: footerContainer; 
    background-color: rgb(254, 251, 231);
    padding: 6em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
}

footer ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

footer ul li a:hover {
    color: rgb(160, 188, 194);
}

.listaNavegacion{
    flex-direction: column;
    margin: 3px;
}

.separador {
    margin: 5px;
    margin-right: auto;
}

.wpFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    transition: transform 0.6s;
}

ul li a i:hover {
    transform: scale(1.2);
}


/* Servicios (servicios.html)*/

.gridContainerServicio {  
    display: grid;
    grid-template-columns: 0.3fr 2.7fr 0.3fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "headerContainer headerContainer headerContainer"
    ". mainServicio ."
    ". botonSeccion ."
    "footerContainer footerContainer footerContainer";
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.mainServicio {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.2fr 0.3fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgServicio imgServicio imgServicio imgServicio"
    ". tituloServicio tituloServicio ."
    "card1Ser card1Ser card2Ser card2Ser"
    "card3Ser card3Ser card4Ser card4Ser";
    grid-area: mainServicio;
    background-color: rgb(218, 229, 208);
}

.imgServicio { 
    grid-area: imgServicio; 
}

.tituloServicio { 
    grid-area: tituloServicio; 
    text-align: center;
    padding: 50px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.card1Ser {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "fotoSer fotoSer fotoSer"
    "fotoSer fotoSer fotoSer"
    "parrafo1Ser parrafo1Ser parrafo1Ser";
    grid-area: card1Ser;
    justify-items: center;
}

.fotoSer { 
    grid-area: fotoSer; 
}

.parrafo1Ser { 
    grid-area: parrafo1Ser; 
}

.card2Ser { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto2Ser foto2Ser foto2Ser"
    "foto2Ser foto2Ser foto2Ser"
    "parrafo2Ser parrafo2Ser parrafo2Ser";
    grid-area: card2Ser;
    justify-items: center;
}

.foto2Ser { 
    grid-area: foto2Ser; 
}

.parrafo2Ser { 
    grid-area: parrafo2Ser; 
}

.card3Ser { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto3Ser foto3Ser foto3Ser"
    "foto3Ser foto3Ser foto3Ser"
    "parrafo3Ser parrafo3Ser parrafo3Ser";
    grid-area: card3Ser;
    justify-items: center;
}

.foto3Ser { 
    grid-area: foto3Ser; 
}

.parrafo3Ser { 
    grid-area: parrafo3Ser; 
}

.card4Ser {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto4Ser foto4Ser foto4Ser"
    "foto4Ser foto4Ser foto4Ser"
    "parrafo4Ser parrafo4Ser parrafo4Ser";
    grid-area: card4Ser;
    justify-items: center;
}

.foto4Ser { 
    grid-area: foto4Ser; 
}

.parrafo4Ser { 
    grid-area: parrafo4Ser; 
}


/* Portfolio (portfolio.html) */

.gridContainerPortfolio {  
    display: grid;
    grid-template-columns: 0.3fr 2.7fr 0.3fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "headerContainer headerContainer headerContainer"
    ". mainPortfolio ."
    ". botonSeccion ."
    "footerContainer footerContainer footerContainer";
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.mainPortfolio {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.8fr 0.2fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgPortfolio imgPortfolio imgPortfolio"
    "tituloPortfolio tituloPortfolio tituloPortfolio"
    "carrusel carrusel carrusel";
    grid-area: mainPortfolio;
    background-color: rgb(218, 229, 208);
}

.imgPortfolio { 
    grid-area: imgPortfolio; 
}

.tituloPortfolio { 
    grid-area: tituloPortfolio; 
    text-align: center;
    padding: 50px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.carrusel {
    grid-area: carrusel;
}


/* Nosotros (nosotros.html)*/

.gridContainerNosotros {  
    display: grid;
    grid-template-columns: 0.3fr 2.7fr 0.3fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "headerContainer headerContainer headerContainer"
    ". mainNosotros ."
    ". botonSeccion ."
    "footerContainer footerContainer footerContainer";
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.mainNosotros {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgNosotros imgNosotros imgNosotros"
    "conocenos conocenos ."
    "icono1 icono2 icono3";
    grid-area: mainNosotros;
    background-color: rgb(218, 229, 208);
    justify-items: center;
}

.imgNosotros { 
    grid-area: imgNosotros; 
}

.conocenos { 
    grid-area: conocenos; 
    display: flex;
    width: 100%;
}

.icono1 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "fotoIcono fotoIcono fotoIcono"
    "fotoIcono fotoIcono fotoIcono"
    "textoIcono1 textoIcono1 textoIcono1";
    grid-area: icono1;
    justify-items: center;
}

.fotoIcono { 
    grid-area: fotoIcono; 
}

.textoIcono1 { 
    grid-area: textoIcono1; 
}

.icono2 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "fotoIcono2 fotoIcono2 fotoIcono2"
    "fotoIcono2 fotoIcono2 fotoIcono2"
    "textoIcono2 textoIcono2 textoIcono2";
    grid-area: icono2;
    justify-items: center;
}

.fotoIcono2 { 
    grid-area: fotoIcono2; 
}

.textoIcono2 { 
    grid-area: textoIcono2; 
}

.icono3 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "fotoIcono3 fotoIcono3 fotoIcono3"
    "fotoIcono3 fotoIcono3 fotoIcono3"
    "textoIcono3 textoIcono3 textoIcono3";
    grid-area: icono3;
    justify-items: center;
}

.fotoIcono3 { 
    grid-area: fotoIcono3; 
}

.textoIcono3 { 
    grid-area: textoIcono3; 
}


/* Contacto (contacto.html) */

.gridContainerContacto {  
    display: grid;
    grid-template-columns: 0.3fr 2.7fr 0.3fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "headerContainer headerContainer headerContainer"
    ". mainContacto ."
    ". botonSeccion ."
    "footerContainer footerContainer footerContainer";
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.mainContacto {  
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 3fr 1fr ;
    gap: 8px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgContacto"
    "formulario";
    grid-area: mainContacto;
    background-color: rgb(218, 229, 208);
    justify-items: center;
}

.imgContacto {
    grid-area: imgContacto;
}

.formulario {
    grid-area: formulario;
}


/* Media Queris */
/* Home */

/* Tablet */
@media (max-width: 1199px) {
    .mainContainer {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.2fr 0.2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "imgPresentacion imgPresentacion imgPresentacion"
        ". titulo ."
        ". card1 ."
        ". card2 ."
        ". card3 .";
        grid-area: mainContainer;
        background-color: rgb(218, 229, 208);
    }

    .logo {
        width: 100%;
        height: 100px;
        margin-right: -50px;
        margin-bottom: -3px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    
    header label {
        display: block;
    }

    .navBar {
        position: absolute;
        margin-left: 100%;
        z-index: 100;
    }
    
    .navBar .estiloLista {
        flex-direction: column;
    }

    .navBar li {
        border-top: 1px solid #fff;
    }

    #botonMenu:checked ~ .navBar {
        margin: 0;
    }

    .navBar img {
        display: none;
    }

    .tituloEnImagen {
        top: 30%;
        left: 48%;
    }
}

/* Servicios */

/* Tablet */
@media (max-width: 1199px) {
    
    .mainServicio {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.9fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "imgServicio imgServicio imgServicio imgServicio"
        ". tituloServicio tituloServicio ."
        ". card1Ser card1Ser ." 
        ". card2Ser card2Ser ."
        ". card3Ser card3Ser ." 
        ". card4Ser card4Ser .";
        grid-area: mainServicio;
        background-color: rgb(218, 229, 208);
    }
}

/* Nosotros */
/* Mobile */
@media (max-width: 767px) {
    .mainNosotros {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "imgNosotros imgNosotros imgNosotros"
        "conocenos conocenos ."
        ". icono1 ." 
        ". icono2 ."
        ". icono3 .";
        grid-area: mainNosotros;
        background-color: rgb(218, 229, 208);
        justify-items: center;
    }

    
    
}
